@model MFMElectronique.Models.Order

@{
    ViewBag.Title = MFMElectronique.Views.Checkout.Resources.AddressAndPayment;
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    
    <h2>
        @MFMElectronique.Views.Checkout.Resources.AddressAndPayment
    </h2>
    <fieldset>
        <legend>@MFMElectronique.Views.Checkout.Resources.ShippingInformation</legend>

        @Html.EditorForModel()
    </fieldset>
    <fieldset>
        <legend>@MFMElectronique.Views.Checkout.Resources.Payment</legend>

        <div class="editor-label">
            @Html.Label("Promo Code")
        </div>
        <div class="editor-field">
            @Html.TextBox("PromoCode")
        </div>
    </fieldset>
    
    <input type="submit" value="@MFMElectronique.Views.Checkout.Resources.Submit" />
}