@model MFMElectronique.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}


@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div style="text-align:center">
        <h2>@ViewBag.Title</h2>
        @ViewBag.Error
        <div class="clear"></div>
        <div class="register_account">
            <div class="wrap">
                <h4 class="title">Create an Account</h4>
                <div>
                    @Html.LabelFor(m => m.FirstName)
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "inputbox" })
                    @Html.ValidationMessageFor(m => m.FirstName, "")
                </div>
                <br />

                <div>
                    @Html.LabelFor(m => m.LastName)
                    @Html.TextBoxFor(m => m.LastName, new { @class = "inputbox" })
                    @Html.ValidationMessageFor(m => m.LastName)
                </div>
                <br />

                <div>
                    @Html.LabelFor(m => m.Email)
                    @Html.TextBoxFor(m => m.Email, new { @class = "inputbox" })
                    @Html.ValidationMessageFor(m => m.Email)
                </div>
                <br />

                <div>
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password, new { @class = "inputbox" })
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
                <br />

                <div>
                    @Html.LabelFor(m => m.ConfirmPassword)
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "inputbox" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </div>
                <br />

                <div>
                    @Html.LabelFor(m => m.Address)
                    @Html.TextBoxFor(m => m.Address, new { @class = "inputbox" })
                    @Html.ValidationMessageFor(m => m.Address)
                </div>
                <br />

                <div>
                    @Html.LabelFor(m => m.City)
                    @Html.TextBoxFor(m => m.City, new { @class = "inputbox" })
                    @Html.ValidationMessageFor(m => m.City)
                </div>
                <br />

                <div>
                    @Html.LabelFor(m => m.PostalCode)
                    @Html.TextBoxFor(m => m.PostalCode, new { @class = "inputbox" })
                    @Html.ValidationMessageFor(m => m.PostalCode)
                </div>
                <br />

                <div>
                    @Html.LabelFor(m => m.Country)
                    @Html.DropDownList("Country",
                new SelectListItem[]
                {
                    new SelectListItem() { Text = "Canada", Value = "CA" },
                    new SelectListItem() { Text = "États-Unis", Value = "US" }
                }
            )
                    @Html.ValidationMessageFor(m => m.Country)
                </div>
                <br />

                <div>
                    @Html.LabelFor(m => m.State)
                    @Html.DropDownList("State",
                new SelectListItem[]
                {
                    new SelectListItem() { Text = "Québec", Value = "QC" },
                    new SelectListItem() { Text = "Ontario", Value = "ON" },
                    new SelectListItem() { Text = "Vermont", Value = "VR" },
                    new SelectListItem() { Text = "Manitoba", Value = "MN" }
                }
            )
                   
                    @Html.ValidationMessageFor(m => m.State)
                </div>
                <br />

                <div>
                    @Html.LabelFor(m => m.Phone)
                    @Html.TextBoxFor(m => m.Phone, new { @class = "inputbox" })
                    @Html.ValidationMessageFor(m => m.Phone)
                </div>
                <br />

                <div class="button1">
                    <input type="submit" class="button" value="Create Account" name="Create Account">
                </div>
                <br />
                <p class="terms" style="text-align:center">By clicking 'Create Account' you agree to the <a href="#">Terms & Conditions</a>.</p>
                <div class="clear">
                    <h4>We accept new customers in Canada and US only</h4>
                </div>
            </div>
        </div>
    </div>
}