@model  MFMElectronique.ViewModels.ShoppingCartViewModel
@{
    ViewBag.Title = "Shopping Cart";
}

<div class="wrap">
    @if (Model.CartItems.Any())
    {
        <h4 class="title">@MFMElectronique.Views.ShoppingCart.Resources.UrCart</h4>
        <div id="update-message">
        </div>
        <table class="table">
            <tr>
                <th>@MFMElectronique.Views.ShoppingCart.Resources.Product</th>
                <th>@MFMElectronique.Views.ShoppingCart.Resources.Price</th>
                <th>@MFMElectronique.Views.ShoppingCart.Resources.Quantity</th>
                <th>GST</th>
                <th>QST</th>
                <th>@MFMElectronique.Views.ShoppingCart.Resources.Total</th>
                <th>@MFMElectronique.Views.ShoppingCart.Resources.Remove</th>
            </tr>
            @foreach (var item in Model.CartItems)
            {

                @*<tr id="trCart">*@
                <tr id="row-@item.RecordID">
                    <td>@Html.ActionLink(item.Product.Name, "Details", "Products", new { id = item.ProductID }, null)</td>
                    <td>@item.Product.Price</td>
                    <td id="item-count-@item.RecordID"><center>@item.Count</center></td>
                    <td>@item.GST</td>
                    <td>@item.QST</td>
                    <td>@item.TotalPerItem</td>
                    <td><a href="#" class="RemoveLink" data-id="@item.RecordID">[X]</a></td>
                </tr>
            }
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>@MFMElectronique.Views.ShoppingCart.Resources.Total</td>
                <td id="cart-total">@Model.CartTotal</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>@MFMElectronique.Views.ShoppingCart.Resources.Livraison</td>
                <td>@Model.Shipping</td>

                </tr>
            </table>
            <a href="https://www.paypal.com/ca/webapps/mpp/paypal-popup" title="How PayPal Works" onclick="javascript:window.open('https://www.paypal.com/ca/webapps/mpp/paypal-popup','WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700'); return false;">
            <img src="~/Images/Static/paypal-logo1.jpg" align="right"/></a><div class="clear"></div>

            if(User.Identity.IsAuthenticated)
            { 
                <div class="button1" style="padding-top:0px;">
                    @using (Html.BeginForm("Checkout", "CheckoutPaypal", FormMethod.Post))
                    {
                        <input type='submit' name="payment_amt" value="CheckOut" />
                    }
                </div>
            }   
            else
            {
                <p class="alert-danger">You must be connected to buy the product(s)</p>
            }
            <div class="clear"></div>
        }

            </tr>
        </table>

        if(User.Identity.IsAuthenticated)
        { 
            <div class="button1">
                @using (Html.BeginForm("Checkout", "CheckoutPaypal", FormMethod.Post))
                {
                    <input type='submit' name="payment_amt" value="@MFMElectronique.Views.ShoppingCart.Resources.Checkout" />
                }
                <a href="https://www.paypal.com/ca/webapps/mpp/paypal-popup" title="How PayPal Works" onclick="javascript:window.open('https://www.paypal.com/ca/webapps/mpp/paypal-popup','WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700'); return false;">
                <img src="~/Images/Static/paypal-logo1.jpg" align="right" /></a>
            </div>
        }   
        else
        {
            <p class="alert-danger">@MFMElectronique.Views.ShoppingCart.Resources.NotConnected</p>
        }
        <div class="clear"></div>
    }
    else
    {
        Response.Redirect("~/ShoppingCart/emptycard");
    }
</div>

<script src="~/Scripts/MFMScripts/jquery-ui.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        // Document.ready -> link up remove event handler
        $(".RemoveLink").click(function () {
            // Get the id from the link
            var recordToDelete = $(this).attr("data-id");
            if (recordToDelete != '') {
                // Perform the ajax post
                $.post("/ShoppingCart/RemoveFromCart", { "id": recordToDelete },
                function (data) {
                    // Successful requests get here
                    // Update the page elements
                    if (data.ItemCount == 0) {
                        $('#row-' + data.DeleteId).fadeOut('slow');
                    } else {
                        $('#item-count-' + data.DeleteId).text(data.ItemCount);
                    }
                    $('#cart-total').text(data.CartTotal);
                    $('#update-message').text(data.Message);
                    $('#cart-status').text('Cart (' + data.CartCount + ')');

                    if (data.CartCount == 0) {
                        window.location = "/ShoppingCart/EmptyCard/"
                    }
                });
            }
        });
    });
    function handleUpdate() {
        // Load and deserialize the returned JSON data
        var json = context.get_data();
        var data = Sys.Serialization.JavaScriptSerializer.deserialize(json);
        // Update the page elements
        if (data.ItemCount == 0) {
            $('#row-' + data.DeleteId).fadeOut('slow');
        } else {
            $('#item-count-' + data.DeleteId).text(data.ItemCount);
        }
        $('#cart-total').text(data.CartTotal);
        $('#update-message').text(data.Message);
        $('#cart-status').text('Cart (' + data.CartCount + ')');
    }
</script>