@model IEnumerable<MFMElectronique.Models.Product>

@{
    ViewBag.Title = "Watches";
}

<div class="mens">
    <div class="main">
        <div class="wrap">
            <div class="cont span_2_of_3">
                <h2 class="head">Phones</h2>
                
                
                @*ON AURA PAS LE TEMPS POUR FAIRE LE TOOLBAR, OUBLIEZ ÇA!
                <div class="mens-toolbar">
                <div class="sort">
                    <div class="sort-by">
                        <label>Sort By</label>
                        <select>
                            <option value="">
                                Position
                            </option>
                            <option value="">
                                Name
                            </option>
                            <option value="">
                                Price
                            </option>
                        </select>
                        <a href=""><img src="~/Images/Static/arrow2.gif" alt="" class="v-middle"></a>
                    </div>
                </div>
                <div class="pager">
                    <div class="limiter visible-desktop">
                        <label>Show</label>
                        <select>
                            <option value="" selected="selected">
                                9
                            </option>
                            <option value="">
                                15
                            </option>
                            <option value="">
                                30
                            </option>
                        </select> per page
                    </div>
                    <ul class="dc_pagination dc_paginationA dc_paginationA06">
                        <li><a href="#" class="previous">Pages</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                    </ul>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>*@


                <div class="top-box">
                @foreach (var item in Model)
                {
                    <div class="col_1_of_3 span_1_of_3">
                        <div class="inner_content clearfix">
                            @*<div class="price1">
                                @*POUR L'INTERFACE ADMINISTRATEUR
                                <a href="@Url.Action("Edit", "Products", new { id = item.Id })"><span class="actual">[EDIT]</span></a> 
                                <a href="@Url.Action("Delete", "Products", new { id = item.Id })"><span class="actual">[DELETE]</span></a>
                            </div><br />*@
                            <a href="@Url.Action("Details", "Products", new { id = item.Id })">
                                <div class="product_image">
                                    <img src="@Url.Content(item.PictureURL)" alt="" />
                                </div>
                                @*<div class="sale-box"><span class="on_sale title_shop">New</span></div>*@
                                <div class="price">
                                    <div class="cart-left">
                                        <p class="title">@item.Name</p>
                                        <div class="price1">
                                            <span class="actual">$@String.Format("{0:0.00}", item.Price)</span><br />
                                        </div>
                                    </div>
                                    <div class="cart-right"> </div>
                                    <div class="clear"></div>
                                </div>
                            </a>

                        </div>
                    </div>
                }
                </div>

                <div class="clear"></div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
